<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logosantotomas"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logosantotomas"
        android:supportsRtl="true"
        android:theme="@style/Theme.CentroIntegralAlerceGestiónDeCitas"
        tools:targetApi="31">

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignUpActivity"
            android:exported="true" />

        <activity
            android:name=".Configuracion.LugarAdapter$MainActivity"
            android:exported="true" />

        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="true" />


        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity
            android:name=".Configuracion.SettingsActivity"
            android:exported="true" />

        <activity
            android:name=".Configuracion.LugaresActivity"
            android:exported="true" />

        <activity
            android:name=".Configuracion.ProyectosActivity"
            android:exported="true" />

        <activity
            android:name=".Actividad.ActividadActivity"
            android:exported="true" />

        <activity
            android:name=".CrearActividadActivity"
            android:exported="true" />

        <activity
            android:name=".Configuracion.SociosComunitariosActivity"
            android:exported="true" />

        <activity android:name=".Configuracion.OferentesActivity"
            android:exported="true"/>

        <activity
            android:name=".Configuracion.TiposActividadActivity"
            android:exported="true" />

    </application>

</manifest>
